<div class="col s12 m7"></div>
<div class="card horizontal">
  <div class="card-image">
    <img height="350" src="https://blog.somosphi.com/wp-content/uploads/2021/06/5-Dicas-Bank-1024x576.png"/>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <h5 style="color:orangered;position: relative;text-align: center;">Nobe Bank<br> o Melhor Banco Digital.</h5>
      <h3 style="color:orangered;position: relative;text-align: center;">Abra jรก sua conta gratuita!</h3>
    </div>
    
    <div class="card-action">
      <%= link_to new_cliente_registration_path, class: 'waves-effect waves-light btn' do %>
        <i class="material-icons">> account_balance</i>
        criar nova conta
      <% end %>
    </div>
  </div>
</div>

<div>
 <p style="color:orangered;position: relative;text-align:center; margin-top: 230px;">Sistema Gerenciado por nobesistemas http://nobesistemas.com.br</p>
</div>

<style>
.waves-effect{
  color:white;
  background-color:orangered;
  float: right;
}
</style>